---
import LandingLayout from '../layouts/LandingLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
---

<LandingLayout title="Flitly - Alquila equipo deportivo en un click">
  <Header />
  <main>
    <Hero />
    <Features />
    <Pricing />
  </main>
  <Footer />
</LandingLayout>
